body {
  font-family: "Lucida Sans Unicode";
  color: #2b2b2bd5;
  background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  background-repeat: no-repeat;
  overflow: hidden;
}

.weather-app {
  border: 2px solid rgba(255, 136, 102, 0.67);
  border-top-left-radius: 100px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 100px;
  box-shadow: 3px 3px 10px #f7a19b;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px 0px 10px 65px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.904);
}
.form-control-1 {
  display: inline;
  padding: 6px;
  color: #2b2b2bc0;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

li:first-letter {
  text-transform: capitalize;
}

li {
  list-style-type: none;
}
.mainCity {
  font-weight: bold;
  font-size: 30px;
  text-decoration-line: underline;
}
h1 {
  padding-top: -45px;
  padding-left: -45px;
  display: block;
  color: #000000c0;
  font-size: 90px;
  text-align: left;
}
.circle .units {
  display: flex;
}
.circle {
  padding-left: 45px;
  box-shadow: 3px 3px 10px #f7a19b;
  color: #ffdea42d;
  width: 200px;
  height: 200px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 150px;
}
h5 {
  margin: 0 auto;

  display: block;
}

small {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.weather-temperature .active {
  cursor: default;
  text-decoration: none;
  color: black;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
