body {
  font-family: sans-serif;
}
.weather-app {
  border: 2px solid rgba(241, 159, 5, 0.726);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
  max-width: 600px;
}
.form-control {
  min-width: 0;
  width: auto;
  display: inline;
}
.h1 {
  color: black;
  size: 40px;
}
li:first-letter {
  text-transform: capitalize;
}
li:first-line {
  text-decoration-line: underline;
}
li {
  list-style-type: none;
}

.circle {
  border: 100px solid;
  color: #fcfafa;
  width: 0;
  height: 0;
  margin-top: 45px;
  margin-left: 0;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
}
h1 {
  color: black;
  font-size: 70px;
  text-align: left;
}
.circle .units {
  display: flex;
  color: black;
}
small {
  text-align: center;
  margin: 0 auto;
  display: block;
}
