body {
  font-family: "Lucida Sans Unicode";
  color: #2b2b2bd5;
}

.weather-app {
  border: 2px solid rgba(255, 136, 102, 0.67);
  border-top-left-radius: 100px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 100px;
  box-shadow: 3px 3px 10px rgba(255, 136, 102, 0.67);
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px 0px 10px 65px;
  max-width: 600px;
  background-color: rgba(255, 251, 246, 0.795);
}
.form-control-1 {
  display: inline;
  padding: 6px;
  color: #2b2b2bc0;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

li:first-letter {
  text-transform: capitalize;
}

li {
  list-style-type: none;
}
.mainCity {
  font-weight: bold;
  font-size: 30px;
  text-decoration-line: underline;
}
h1 {
  margin-top: -45px;
  margin-left: -45px;
  dispaly: block;
  color: #000000c0;
  font-size: 90px;
  text-align: left;
}
.circle .units {
  display: flex;
  color: black;
  margin-top: -30px;
  margin-left: 0px;
}
.circle {
  border: 100px solid;
  box-shadow: 3px 3px 10px rgba(255, 136, 102, 0.67);
  color: #ffdea42d;
  width: 0;
  height: 0;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
}

small {
  text-align: center;
  margin: 0 auto;
  display: block;
}
